  <nav class="w-full py-6 bg-white w-screen">
  <div class="flex items-center justify-between mx-auto xl:max-w-7xl lg:max-w-5xl md:max-w-3xl md:px-2 px-4">
    <section class="flex items-center text-gray-900">
      <a class="font-bold text-xl focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none rounded-lg" routerLink="/welcome">BRAND</a>
    </section>
    <section>
      <ul class="md:space-x-8 space-x-6 text-gray-900 font-semibold hidden md:flex">
        <li class="relative group">
          <a class="group focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none rounded-lg" routerLink="/learning">Lernen </a>
        <!--  <div class="w-full h-0.5 bg-transparent group-hover:bg-purple-500 transition-al absolute bottom-0" /> -->
        </li>
        <li class="relative group">
          <a href="#" class="focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none rounded-lg">Selbsttest</a>
         <!-- <div class="w-full h-0.5 bg-transparent group-hover:bg-purple-500 transition-al absolute bottom-0" /> -->
        </li>
        <li class="relative group">
          <a href="#" class="focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none rounded-lg">Prüfung</a>
         <!-- <div class="w-full h-0.5 bg-transparent group-hover:bg-purple-500 transition-al absolute bottom-0" /> -->
        </li>
      </ul>
    </section>
    <section>
      <button class="flex md:hidden hover:bg-gray-100 p-2 rounded-full transition-all focus:ring focus:ring-purple-500 focus:ring-opacity-25 active:bg-gray-200 outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd" />
        </svg>
      </button>
      <ul class="md:flex hidden space-x-4">
                <li><a href="#" class="bg-transparent  px-4 py-1 rounded-xl border-purple-500 border-2 text-purple-500 font-semibold hover:bg-gray-100 active:bg-gray-200 focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none">Login</a></li>

        <li><a href="#" class="bg-purple-500 px-4 py-1 rounded-xl border-purple-500 border-2 text-white hover:bg-purple-400 active:bg-purple-600 focus:ring focus:ring-purple-500 focus:ring-opacity-25 outline-none">Register</a></li>

      </ul>
    </section>
  </div>
</nav>
