<div [ngClass]="{ 'hidden': modus===0 }" class="flex max-w-sm w-full mx-auto">
  <div class="rounded-xl">

    <ng-container *ngIf="anzahlRichtigeAntwortenSoll > 1">
      <div [ngClass]="{ 'text-green-600': answer.correct && bShowAnswers }"
        *ngFor="let answer of answers; let i = index">
        <ul class="w-full mt-4 text-left bg-white">
          <li class="">
            <input (change)="gotAnswer(answer, $event)" class=" " type="checkbox" name="answers"
              id="{{ 'answer' + i }}" />
            <label class="p-2 w-full cursor-pointer focus:outline-none " for="{{ 'answer' + i }}">
              <!-- {{ answer.text }} -->
              <markdown [data]="answer.text"></markdown>
            </label>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="anzahlRichtigeAntwortenSoll == 1">
      <div [ngClass]="{ 'text-green-600': answer.correct && bShowAnswers }"
        *ngFor="let answer of answers; let i = index">
        <ul class="w-full mt-4 text-left bg-white">
          <li class="">
            <input (change)="gotAnswer(answer, $event)" class=" " type="radio" name="answers" id="{{ 'answer' + i }}" />
            <label class="p-2 w-full cursor-pointer focus:outline-none " for="{{ 'answer' + i }}">
              <!-- {{ answer.text }} -->
              <markdown [data]="answer.text"></markdown>
            </label>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="anzahlRichtigeAntwortenSoll == 0">
      <div [ngClass]="{ 'text-green-600': answer.correct && bShowAnswers }"
        *ngFor="let answer of answers; let i = index">
        <ul class="w-full mt-4 text-left bg-white">
          <li class="">
            <input (change)="gotAnswer(answer, $event)" class=" " type="checkbox" name="answers"
              id="{{ 'answer' + i }}" />
            <label class="p-2 w-full cursor-pointer focus:outline-none " for="{{ 'answer' + i }}">
              <!-- {{ answer.text }} -->
              <markdown [data]="answer.text"></markdown>
            </label>
          </li>
        </ul>
      </div>
    </ng-container>
    <div class="pt-8 pl-4 flex justify-between">
      <button [ngClass]="{ hidden: modus == 1 }" [disabled]="click"
        class="my-4 px-4 py-2 block text-white bg-blue-500 hover:bg-blue-700 rounded" (click)="onSubmitClick()">
        Submit
      </button>
    </div>
  </div>
</div>
