<!--
  Diese Komponente realisiert den Lernmodus.
  Hier wird eine Liste aller Fragen angezeigt.
  Durch Klick auf eine einzelne Frage wird die Detail-Ansicht aufgerufen.
-->


<!-- <app-summary [questions]="allQuestions" (questionClicked)="showSingleQuestion($event)"></app-summary> -->


<!-- <a [routerLink]="['QAndAComponent']" [queryParams]=""></a> -->



<app-q-and-a [QandA]="allQuestions[aktuelleFrage]"></app-q-and-a>
<button class="bg-blue-400 px-6 py-2 mt-10 rounded-xl border-blue-400 border-2 text-white hover:bg-purple-400 active:bg-purple-600 focus:ring focus:ring-blue-400 focus:ring-opacity-25 outline-none" (click)="onClickMe()">Next</button>
